{% extends "base.html" %}
{% block title %}About - Neapolina Pizzaria{% endblock %}
{% block content %}

<header class="page-head container">
  <span class="eyebrow">About</span>
  <h1 class="page-title">Our Origin</h1>
</header>

<section class="page-section container">
 <div class="story-box">
     <p>Neapolina Pizzaria was built was built on a belief that great pizza brings people together. 
        Our Theme was built into the heart of the concept of the pizza, in combination of tradition, originality, quality, and authenticity, 
        to ensure the culture behind our pizza is preserved and never be fogotten. In a world constantly progessing at a pace never before seen, some have fully embraced the new norm while leaving the old rustic culture behind.
        Our vision is not only the preservation of how the pizza originated, but it's also our aim to never forget the traditions and customs that built, and will build us for generations to come, 
        and to extend and represent the rich heritage of Neapolitan pizza for many more people outside the rustic culture.
     </p>
 </div>

  <ul class="about-list">
     <li>Fresh,handmade dough</li>
     <li>Traditional Neapolitan-style cooking</li>
     <li>Local Neapolitan inspired flavours of Napoli the birthplace of the margherita</li>
     <li>Warm, cultural and communal service</li>
  </ul>
</section>

{% endblock %}