{% extends "base.html" %}
{% block title %}Home - Neapolina Pizzaria{% endblock %}
{% block content%}

<section class="hero">
  <div class="hero-glow"></div>
  <div class="container">
   
    <div class="hero-orbit-wrap">
      <div class="orbit">
        <svg viewBox="0 0 280 280">
          <circle class="orbit-ring-dotted orbit-spin-rev" cx="140" cy="140" r="134" />
          <circle class="orbit-ring-solid orbit-spin" cx="140" cy="140" r="108" />
          <g class="orbit-spin">
            <path id="orbitPath" fill="none" d="M 140,32 A 108,108 0 1 1 139.9,32" />
            <text class="orbit-text">
              <textPath href="#orbitPath" startOffset="0%">
                IMPASTO &middot; POMODORO &middot; MOZZARELLA  &middot; BASILICA FRESCA &middot; OLIO D'OLIVA &middot; PIZZA MARGHERTIA &middot;
              </textPath>
            </text>
          </g>
        </svg>
        <svg class="orbit-pin" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5A2.5 2.5 0 1 1 12 6a2.5 2.5 0 0 1 0 5.5z"/>
        </svg>
     </div>
   </div>

    <h1 class="hero-title">Neapolina Pizzaria</h1>
    <p>Fresh pizza, made the old fashioned way.</p>
    <a class="btn" href="{{ url_for('menu') }}">Order Now</a>

  </div>
</section>

<section class="split">
  <div class="split-copy"
   <span class="eyebrow">The Ethos</span>
    <h2 class="split-title">History ,Flour, and Fire.</h2>
    <p class="body">In the heart of Naples, where the tradition of pizza-making is alive and well. This city had orginated from a Greek colony, A Roman wonder, A Byzantine legacy, to a Modern Italian culinary Metropolis. Its heart beats with the rhythm of generations and architecture of the mediterranean. The blsitering heat from a dome oven fueled by the volcanic fire of vesuvius, to  the wheat grown from generations of farmers that are used to make the dough. The pizza itself was forged to keep the poor of Napoli fed using ingredients both foreign and domestic, to becoming a symbol of Napolitan culture for centuries to come.</p>
    <a href="{{ url_for('menu') }}" class="btn">Explore the Menu</a>
  </div>
  <div class="split-visual">
    <span class="split-badge">Image</span>
  </div>
</section>

{% endblock %}
