{% extends "base.html" %}
{%block title%}Menu - Neapolina Pizzaria{% endblock %}
{% block content%}

<h1>Menu</h1>

<form action="{{ url_for('add_to_cart')}}" method="post">
  <fieldset>
        <legend>Select Your Preferred Pizza</legend>
        <select name="pizza" id="pizza">
        {% for pizza, details in pizzas.items() %}
        <option value="{{ pizza }}">{{ pizza }} - ${{ details['price'] }} (Stock: {{ details['stock'] }})</option>
        {% endfor %}
    </select>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity" value="1" min="1">
    <button type="submit">Add to Cart</button>
  </fieldset>
</form>

<form action="{{ url_for('select_addon') }}" method="post">
  <fieldset>
    <legend>Add-ons</legend>
    {% for addon, data in addons.items() %}
    <input type="checkbox" name="addons" id="{{ addon }}" value="{{ addon }}" {% if addon in selected_addons %}checked{% endif %}>
    <label for="{{ addon }}">{{ addon }} (${{ data.price }})</label><br>
    {% endfor %}
    <button type="submit">Update Add-ons</button>
  </fieldset>
</form>

<h2>Your Cart</h2>
<form method="post">

  {% if cart %}
  <ul>
    {% for item, details in cart.items() %}
    <li>
      {{ item }}: {{ details['quantity'] }} x ${{ details['price'] }}
      = ${{ '%.2f'|format(details['quantity'] * details['price']) }}
      <a href="{{ url_for('remove_from_cart', item=item) }}">[Remove]</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Your cart is empty.</p>
  {% endif %}

  {% if selected_addons %}
  <ul>
    {% for item, price in selected_addons.items() %}
    <li>{{ item }} - ${{ '%.2f'|format(price) }}</li>
    {% endfor %}
  </ul>
  {% endif %}
        